CONNECTION_STRING=mongodb://localhost:27017
DATABASE_NAME=pulpa_db
IS_SSL=false
SECRET_KEY=pulpa_secret_key_troque_em_producao
ISSUER=pulpa-api
AUDIENCE=pulpa-front
EMAIL_FROM=seuemail@gmail.com
PASSWORD_EMAIL=sua_senha_de_app
FRONTEND_URL=http://localhost:3000
